.DS_Store
node_modules
/dist
package-lock.json

# local env files
.env.local
.env.*.local
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Prettier
.husky
.gitignore
.prettierignore
.browserslistrc
.env
src/assets
.env.local.example
.env.*.local.example
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
/node_modules
/.pnp
.pnp.js
yarn.lock
# testing
/coverage
# next.js
/.next/
/out/
# production
/build
# misc
*.pem
# debug
.env.development.local
.env.test.local
.env.production.local
# vercel
.vercel

# shell scripts
*.sh
# public dir
/public