@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
  --font-soft: var(--font-quicksand), ui-sans-serif, system-ui, sans-serif;

  --animate-fade-in: fade 1s ease-in-out 1 forwards;

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
