/* *
 * This file contains site-specifc style overrides for Notion elements from
 * react-notion-x.
 *
 * react-notion-x's goal is to match styling as close as possible to Notion,
 * whereas our goal with this site is to adjust Notion's styling in a few key
 * places to add some flare.
 */

.notion-viewport {
  pointer-events: none;
}
.notion {
  /* --notion-max-width: 720px; */
  --notion-header-height: 54px;
}

.notion-page {
  padding-bottom: calc(max(5vh, 32px)) !important;
  line-height: 1.65;
}

/* .index-page {
  --notion-max-width: 900px;
} */

.notion-text {
  padding: 0.5em 2px;
}

.notion-asset-caption {
  text-align: center;
}

.notion-asset-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* <-- Fix embedded video's size overflows its container */
.notion-asset-wrapper-video > div,
.notion-asset-wrapper-video video {
  width: 100% !important;
}
/* Fix embedded video's size overflows its container --> */

.notion-header .nav-header {
  max-width: 1100px;
  margin: 0 auto;
}

/* Hide collection header title (does not contain view name) */
.notion-collection-header {
  display: none;
}

.notion-gallery-grid {
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 6vmin;
  gap: 6vmin;
}

.notion-gallery-grid .notion-page-icon-inline {
  display: none;
}

.notion-gallery-grid .notion-page-title-text {
  font-size: 2em;
  white-space: unset;
}

.notion-gallery-grid .notion-collection-card-property {
  white-space: unset;
  text-overflow: unset;
}

.notion-gallery-grid .notion-property-text {
  font-size: 14px;
}

.notion-collection-card {
  border-radius: 16px;
  box-shadow: none;
}

.notion-collection-card-cover img {
  border-radius: 16px;
  text-align: center;
  background: #f3f4f6;
}

.notion-collection-card-cover img::before {
  display: inline-flex;
  height: 100%;
  align-items: center;
}

.notion-collection-card {
  overflow: visible;
}

.notion-collection-card-cover {
  border-radius: 16px;
  overflow: visible;
  box-shadow: 2px 2px 8px 4px rgba(15, 15, 15, 0.1);
  border-bottom: 0 none;
  transition: transform 250ms ease-out;
}

.notion-collection-card:hover .notion-collection-card-cover {
  transform: scale(1.02);
}

/* only target safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _::-webkit-full-page-media,
  _:future,
  :root,
  .notion-collection-card-cover {
    transition: none 0ms linear;
  }
}

.notion-quote {
  padding: 0.2em 0.75em;
  font-size: 1.1em;
}

.notion-h1,
.notion-h2,
.notion-h3 {
  margin-bottom: 0.25em;
}

.notion-callout {
  margin: 0.75em 0;
}

.notion-hr {
  /* margin: 2em 0; */
  border-top: 1px solid;
  border-color: var(--fg-color-0);
}

@media only screen and (max-width: 920px) {
  .index-page.notion-page {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

@media only screen and (max-width: 720px) {
  .notion-page {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

@media only screen and (max-width: 600px) {
  .notion-search-button {
    display: none !important;
  }
}

@media only screen and (max-width: 400px) {
  .notion-gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10vmin;
    gap: 10vmin;
  }
}

.notion .notion-page-icon-cover {
  margin-left: auto;
  margin-right: auto;
}

.notion-title {
  display: block;
  text-align: center;
}

/* .notion-collection-column-title {
  display: none !important;
} */

.notion-collection-row-property .notion-property {
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}

.notion-collection-row-value {
  padding: 0;
  text-align: center;
}

.notion-page-cover {
  max-width: 1200px;
  border-radius: 24px;
  box-shadow: 2px 2px 8px 4px rgba(15, 15, 15, 0.1);
}

@media only screen and (max-width: 1200px) {
  .notion-page-cover {
    border-radius: 0;
  }
}

.notion-block-ab9a258d6cf444f3bb40dc2600feae91 .notion-page-link {
  justify-content: center;
  padding: 2em;
}

.notion-code {
  background: rgba(249, 250, 251, 1);
  border: 1px solid rgba(229, 231, 235, 1);
  border-radius: 0.375rem;
}

/** link gradient underline: broken by tailwind */
/* .notion-link {
  position: relative;
  transition: unset;
  opacity: 1;
}

.notion-link:hover {
  border-width: 3px;
  border-image: linear-gradient(90.68deg, #b439df 0.26%, #e5337e 102.37%);
  border-image-slice: 1;
  border-bottom-style: solid;
} */

.notion-red_background,
.notion-pink_background,
.notion-blue_background,
.notion-purple_background,
.notion-teal_background,
.notion-yellow_background,
.notion-orange_background,
.notion-brown_background,
.notion-gray_background {
  padding: 0 0.5rem;
  margin: 0 -0.5rem 0 -0.25rem;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0.125rem;
  box-decoration-break: clone;

  background-color: none;

  /* light yellow */
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #fff697 10.5%,
    #fdf59d 85.29%,
    var(--bg-color)
  );
}

.notion-purple_background,
.notion-pink_background {
  /* light pink */
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #f5b8d1 10.5%,
    #f9bcd3 85.29%,
    var(--bg-color)
  );
}

.notion-blue_background,
.notion-gray_background {
  /* light blue */
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #adedfc 10.5%,
    #adebfd 85.29%,
    var(--bg-color)
  );
}

.notion-red_background,
.notion-orange_background {
  /* light red */
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #f5c4ff 10.5%,
    #e7a8fc 85.29%,
    var(--bg-color)
  );
}

.notion-teal_background {
  /* light green */
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #d4eabc 10.5%,
    #d2eabc 85.29%,
    var(--bg-color)
  );
}

.notion-brown_background {
  /* dark blue */
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #96b8ec 10.5%,
    #a6c3f0 85.29%,
    var(--bg-color)
  );
}

.dark-mode .notion-red_background,
.dark-mode .notion-pink_background,
.dark-mode .notion-blue_background,
.dark-mode .notion-purple_background,
.dark-mode .notion-teal_background,
.dark-mode .notion-yellow_background,
.dark-mode .notion-orange_background,
.dark-mode .notion-brown_background,
.dark-mode .notion-gray_background {
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: none !important;
}

.notion-block-f382a57807bc40779860eb079d0144f2 .lazy-image-wrapper {
  border-radius: 16px;
}

/* if you don't want rounded page images, remove this */
.notion-page-icon-wrapper img.notion-page-icon {
  border-radius: 50%;
  box-shadow: 0 8px 40px 0 rgb(0 0 0 / 21%);
}

.notion-header {
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: saturate(180%) blur(16px);
}

.dark-mode .notion-header {
  background: transparent;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: saturate(180%) blur(8px);
}

.notion-bookmark:hover {
  border-image: linear-gradient(90.68deg, #b439df 0.26%, #e5337e 102.37%);
  border-image-slice: 1;
}

/* Random placeholder background images */
.notion-collection-card-cover:empty {
  overflow: hidden;
}
.notion-collection-card-cover:empty::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.notion-collection-card:nth-child(100n + 1)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/01.-Royal-Heath_1.jpg");
}
.notion-collection-card:nth-child(100n + 2)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/02.-Egg-Sour_1.jpg");
}
.notion-collection-card:nth-child(100n + 3)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/03.-Snowy-Mint.jpg");
}
.notion-collection-card:nth-child(100n + 4)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/04.-Hopbush_1.jpg");
}
.notion-collection-card:nth-child(100n + 5)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/05.-Flax_1.jpg");
}
.notion-collection-card:nth-child(100n + 6)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/06.-Wisteria.jpg");
}
.notion-collection-card:nth-child(100n + 7)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/07.-Tidal.jpg");
}
.notion-collection-card:nth-child(100n + 8)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/08.-Violet-Blue.jpg");
}
.notion-collection-card:nth-child(100n + 9)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/09.-Light-Sky-Blue.jpg");
}
.notion-collection-card:nth-child(100n + 10)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/10.-Mindaro.jpg");
}
.notion-collection-card:nth-child(100n + 11)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/11.-Fuchsia.jpg");
}
.notion-collection-card:nth-child(100n + 12)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/12.-Tumbleweed.jpg");
}
.notion-collection-card:nth-child(100n + 13)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/13.-Pale-Violet-Red.jpg");
}
.notion-collection-card:nth-child(100n + 14)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/14.-Prim.jpg");
}
.notion-collection-card:nth-child(100n + 15)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/15.-Perfume.jpg");
}
.notion-collection-card:nth-child(100n + 16)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/16.-Medium-Purple.jpg");
}
.notion-collection-card:nth-child(100n + 17)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/17.-Dark-Salmon_1.jpg");
}
.notion-collection-card:nth-child(100n + 18)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/18.-Buttercup.jpg");
}
.notion-collection-card:nth-child(100n + 19)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/19.-Can-Can.jpg");
}
.notion-collection-card:nth-child(100n + 20)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/20.-Melanie_1.jpg");
}
.notion-collection-card:nth-child(100n + 21)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/21.-Columbia-Blue.jpg");
}
.notion-collection-card:nth-child(100n + 22)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/22.-Shalimar.jpg");
}
.notion-collection-card:nth-child(100n + 23)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/23.-California.jpg");
}
.notion-collection-card:nth-child(100n + 24)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/24.-Sky-Blue.jpg");
}
.notion-collection-card:nth-child(100n + 25)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/25.-Witch-Haze.jpg");
}
.notion-collection-card:nth-child(100n + 26)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/26.-Honeysuckle.jpg");
}
.notion-collection-card:nth-child(100n + 27)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/27.-Melanie.jpg");
}
.notion-collection-card:nth-child(100n + 28)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/28.-Deco_1.jpg");
}
.notion-collection-card:nth-child(100n + 29)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/29.-Pale-Cornflower-Blue.jpg");
}
.notion-collection-card:nth-child(100n + 30)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/30.-Wild-Rice.jpg");
}
.notion-collection-card:nth-child(100n + 31)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/31.-Portage_1.jpg");
}
.notion-collection-card:nth-child(100n + 32)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/32.-Banana-Mania_1.jpg");
}
.notion-collection-card:nth-child(100n + 33)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/33.-Beauty-Bush_1.jpg");
}
.notion-collection-card:nth-child(100n + 34)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/34.-Mauve.jpg");
}
.notion-collection-card:nth-child(100n + 35)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/35.-Ronchi_1.jpg");
}
.notion-collection-card:nth-child(100n + 36)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/36.-Pale-Chestnut_1.jpg");
}
.notion-collection-card:nth-child(100n + 37)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/37.-Light-Sky-Blue.jpg");
}
.notion-collection-card:nth-child(100n + 38)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/38.-Sky-Blue.jpg");
}
.notion-collection-card:nth-child(100n + 39)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/39.-Prelude.jpg");
}
.notion-collection-card:nth-child(100n + 40)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/40.-Cherokee.jpg");
}
.notion-collection-card:nth-child(100n + 41)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/41.-Tonys-Pink.jpg");
}
.notion-collection-card:nth-child(100n + 42)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/42.-Charm_1.jpg");
}
.notion-collection-card:nth-child(100n + 43)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/43.-Harvest-Gold_1.jpg");
}
.notion-collection-card:nth-child(100n + 44)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/44.-Green-Yellow.jpg");
}
.notion-collection-card:nth-child(100n + 45)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/45.-Fog.jpg");
}
.notion-collection-card:nth-child(100n + 46)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/46.-Watusi.jpg");
}
.notion-collection-card:nth-child(100n + 47)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/47.-Whisper_1.jpg");
}
.notion-collection-card:nth-child(100n + 48)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/48.-Yellowish.jpg");
}
.notion-collection-card:nth-child(100n + 49)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/49.-Soft-Peach.jpg");
}
.notion-collection-card:nth-child(100n + 50)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/50.-Vivid.jpg");
}
.notion-collection-card:nth-child(100n + 51)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/51.-Spindle.jpg");
}
.notion-collection-card:nth-child(100n + 52)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/52.-Pink-Chalk.jpg");
}
.notion-collection-card:nth-child(100n + 53)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/53.-Canary.jpg");
}
.notion-collection-card:nth-child(100n + 54)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/54.-Ice-Cream.jpg");
}
.notion-collection-card:nth-child(100n + 55)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/55.-My-Pink_1.jpg");
}
.notion-collection-card:nth-child(100n + 56)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/56.-Color-Smoke.jpg");
}
.notion-collection-card:nth-child(100n + 57)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/57.-Glowish.jpg");
}
.notion-collection-card:nth-child(100n + 58)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/58.-Polution.jpg");
}
.notion-collection-card:nth-child(100n + 59)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/59.-Private.jpg");
}
.notion-collection-card:nth-child(100n + 60)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/60.-Zircon_1.jpg");
}
.notion-collection-card:nth-child(100n + 61)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/61.-Lavender_1.jpg");
}
.notion-collection-card:nth-child(100n + 62)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/62.-Amour.jpg");
}
.notion-collection-card:nth-child(100n + 63)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/63.-Pastel-Surface.jpg");
}
.notion-collection-card:nth-child(100n + 64)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/64.-Makeup.jpg");
}
.notion-collection-card:nth-child(100n + 65)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/65.-Prim.jpg");
}
.notion-collection-card:nth-child(100n + 66)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/66.-Yellow-sand.jpg");
}
.notion-collection-card:nth-child(100n + 67)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/67.-Violet-Rain.jpg");
}
.notion-collection-card:nth-child(100n + 68)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/68.-Corvette.jpg");
}
.notion-collection-card:nth-child(100n + 69)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/69.-Shocking_1.jpg");
}
.notion-collection-card:nth-child(100n + 70)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/70.-Honeydew_1.jpg");
}
.notion-collection-card:nth-child(100n + 71)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/71.-Quartz_1.jpg");
}
.notion-collection-card:nth-child(100n + 72)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/72.-Sazerac_1.jpg");
}
.notion-collection-card:nth-child(100n + 73)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/73.-Negroni.jpg");
}
.notion-collection-card:nth-child(100n + 74)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/74.-Medium-Purple_1.jpg");
}
.notion-collection-card:nth-child(100n + 75)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/75.-Pale-Turquoise.jpg");
}
.notion-collection-card:nth-child(100n + 76)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/76.-Rice-Flower.jpg");
}
.notion-collection-card:nth-child(100n + 77)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/77.-Green-bonbon.jpg");
}
.notion-collection-card:nth-child(100n + 78)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/78.-Night-sky_1.jpg");
}
.notion-collection-card:nth-child(100n + 79)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/79.-Heliotrope.jpg");
}
.notion-collection-card:nth-child(100n + 80)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/80.-Dusty-blue_1.jpg");
}
.notion-collection-card:nth-child(100n + 81)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/81.-Kobi.jpg");
}
.notion-collection-card:nth-child(100n + 82)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/82.-Creamish.jpg");
}
.notion-collection-card:nth-child(100n + 83)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/83.-Frosted-Mint.jpg");
}
.notion-collection-card:nth-child(100n + 84)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/84.-Lolypop.jpg");
}
.notion-collection-card:nth-child(100n + 85)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/85.-Lily-White.jpg");
}
.notion-collection-card:nth-child(100n + 86)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/86.-Cherub.jpg");
}
.notion-collection-card:nth-child(100n + 87)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/87.-Spacy_1.jpg");
}
.notion-collection-card:nth-child(100n + 88)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/88.-Sunny.jpg");
}
.notion-collection-card:nth-child(100n + 89)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/89.-Canvas.jpg");
}
.notion-collection-card:nth-child(100n + 90)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/90.-Grass-mint.jpg");
}
.notion-collection-card:nth-child(100n + 91)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/91.-Berry_1.jpg");
}
.notion-collection-card:nth-child(100n + 92)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/92.-Sunset.jpg");
}
.notion-collection-card:nth-child(100n + 93)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/93.-Medium-Goldenrod.jpg");
}
.notion-collection-card:nth-child(100n + 94)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/94.-Almond.jpg");
}
.notion-collection-card:nth-child(100n + 95)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/95.-Milkyway_1.jpg");
}
.notion-collection-card:nth-child(100n + 96)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/96.-Lake_1.jpg");
}
.notion-collection-card:nth-child(100n + 97)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/97.-Flare_1.jpg");
}
.notion-collection-card:nth-child(100n + 98)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/98.-Torea-Bay_1.jpg");
}
.notion-collection-card:nth-child(100n + 99)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/99.-Romanpreview.jpg");
}
.notion-collection-card:nth-child(100n + 100)
  .notion-collection-card-cover:empty::after {
  background-image: url("https://products.ls.graphics/mesh-gradients/images/100.-Chetwode-Blue.jpg");
}
